.width {
  width: 70px;
  height: 100vh;
}

.theme-color{
  color: rgb(41, 41, 247)
}

.theme-text{
  color: rgb(41, 41, 247)
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}


.popup {
  /* Update the styles for the popup */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  /* Set a maximum width for the popup */
  width: 100%;
}

@media (min-width: 320px) and (max-width: 768) {
  .side_bar {
    display: block;
    justify-content: space-between;
  }

  .width {
    width: 100vw !important;
    height: auto;
  }

}


.sidebar-container.overflow-y-scroll::-webkit-scrollbar {
  width: 0.5rem;
  /* Adjust the width as needed */
  display: none !important;
  /* Hide scrollbar */
}

/* For Firefox */
.sidebar-container.overflow-y-scroll {
  scrollbar-width: thin !important;
  /* Adjust the width as needed */
  -ms-overflow-style: none;
  /* Hide scrollbar in Internet Explorer 11 */
}

/* Show scrollbar on hover (optional) */
.sidebar-container.overflow-y-scroll:hover::-webkit-scrollbar {
  display: initial;
  /* Show scrollbar on hover in Webkit browsers */
}

/* Show scrollbar on hover (optional) */
.sidebar-container.overflow-y-scroll:hover {
  scrollbar-width: thin;
  /* Show scrollbar on hover in Firefox */
}

.text_xs {
  font-size: 5px !important;
}



/*  Calender Css OverWrite  */

.rbc-allday-cell {
  display: none !important;
}

.rbc-header {
  height: 46px !important;
  font-weight: bold !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.rbc-time-view .rbc-time-slot:hover {
  background-color: lightgreen !important;
  cursor: pointer !important;
}

.rbc-time-view table tbody td:hover {
  background-color: lightgreen !important;
  cursor: pointer !important;
}

.rbc-event{
  padding: 0px !important;
  border-radius: 0% !important;
  background-color: transparent !important;
  /* pointer-events: none !important; */
}

.day-event  {
  background-color: #A9A9A9 !important;
  color: black !important;
  padding: 0px !important;
  border: 2px solid #A9A9A9 !important;
  width: 100%;
  padding-left: 10px !important;
  font-size: small !important;
  cursor: pointer !important;

}

.rbc-date-cell{
  color: blue !important;
}


.rbc-event-label {
  display: none !important;

}

.rbc-events-container {
  width: 100% !important;
}


.tooltipHover {
  z-index: 1000 !important;
}

.custum-month {
  border: 0px !important;
  position: relative;
  width: 100% !important;
  background-color: white !important;
  color: black !important;
  font-size: small !important;
  padding-left: 17px; 
}

/* Define styles for the full circle */
.custum-month::after {
  content: ''; /* Ensures the pseudo-element is rendered */
  position: absolute; /* Position the full circle relative to its parent */
  left: 1%; /* Position the full circle slightly to the right of the half circle */
  top: 50%; /* Align the full circle vertically in the middle */
  transform: translateY(-50%); /* Center the full circle vertically */
  width: 10px; /* Adjust the width of the full circle */
  height: 10px; /* Adjust the height of the full circle */
  border-radius: 50%; /* Ensures the element is a circle */
  background-color: gray; /* Adjust the color of the full circle as needed */
}

.rbc-overlay-header {
  display: none !important;
}

.selectedEvent {
  background-color: black !important;
}

.rbc-show-more{
  background-color: rgb(234, 246, 255)!important;
  font-size: 12px !important;
  width: 100% !important;
  text-align: start !important;
  color:blue !important;
  padding: 2px !important;

}
.rbc-show-more:hover{
  background-color: lightgrey!important;
}
.rbc-overlay{
  width: 10px !important;
  padding: 5px !important;
  max-height: 230px !important;
  overflow-y: scroll !important;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}


.popup {
  /* Update the styles for the popup */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(109, 101, 101, 0.5);
  max-width: 750px;
  /* Set a maximum width for the popup */
  width: 100%;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.popup::-webkit-scrollbar {
  width: 0;
  /* Set the width to 0 to hide the scrollbar */
  display: none;
  /* Hide scrollbar for Webkit */
}

/* Hide scrollbar for Firefox */
.popup {
  scrollbar-width: none;
  /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for Internet Explorer 11 */
}

/* Show scrollbar on hover (optional) */
.sidebar-container:hover::-webkit-scrollbar {
  width: auto;

  /* Show scrollbar on hover for Webkit */
}

/* .fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% / 3); 
  max-width: calc(100vw / 3); 
} */
/* .available-slot {
  background: lightgreen;
} */


.unavailable-slot {
  background-color: #D6DBE0 !important;
  border-radius: 0% !important;
  cursor: not-allowed !important;
  text-align: center !important;
  color: #D6DBE0 !important;
  width: 100% !important;
  padding: 0px !important;
}
.unavailable-slot:hover {
  background-color: #C13F50 !important;
  color:"white" !important
}

.rbc-time-slot.hovered {
  background-color: #eee;
  /* cursor: pointer; */
}

/* .rbc-event-content{
  background-color: transparent !important;
} */